/* Background futuristic */
body {
  background: radial-gradient(circle at center, #0a0f1a, #000);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

/* Container */
.game-container {
  width: 100%;
  max-width: 900px;
  margin: auto;
  padding-top: 20px;
  color: #100e0e;
  text-align: center;
}

/* Top information bar */
.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.topbar h2 {
  font-size: 30px;
  text-shadow: 0 0 10px #00aaff;
}

.score {
  font-size: 20px;
}

.reset-btn {
  padding: 10px 18px;
  background: #00aaff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  color: #000;
  font-weight: bold;
  transition: 0.2s;
}

.reset-btn:hover {
  background: #33c6ff;
  transform: scale(1.05);
}

/* GRID 5x4 */
.grid {
  display: grid;
  grid-template-columns: repeat(5, 120px);
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}

/* CARD STYLE */
.card {
  width: 120px;
  height: 150px;
  perspective: 800px;
  cursor: pointer;
}

.card.revealed .inner {
  transform: rotateY(180deg);
}

/* CARD inner wrapper */
.inner {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}

/* CARD front (question mark) */
.front, .back {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 12px;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 45px;
  font-weight: bold;
}

/* FRONT STYLE */
.front {
  background: #0a1d2f;
  border: 2px solid #0077ff;
  color: #00c3ff;
  text-shadow: 0 0 10px #00aaff;
}

/* BACK (emoji) */
.back {
  background: #032030;
  border: 2px solid #00c3ff;
  transform: rotateY(180deg);
}

/* MODAL QUESTION */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  width: 380px;
  background: #02121f;
  padding: 25px;
  border-radius: 12px;
  border: 2px solid #00aaff;
  box-shadow: 0 0 15px #00aaff;
  text-align: center;
}

.question-text {
  margin-bottom: 15px;
  font-size: 18px;
}

.options button {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  background: #00aaff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

.options button:hover {
  background: #33c6ff;
  transform: scale(1.02);
}
