.pares-game {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
}

.game-header {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-bottom: 1rem;
    background-color: red;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 150px);
    gap: 12px;
    justify-content: center;
    background-color: gray;
}

.carta-item {
    width: 120px;
    height: 140px;
    border-radius: 8px;
    border: 2px solid #333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
}

.carta-item .cara,
.carta-item .espalda {
    position: absolute;
    backface-visibility: hidden;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carta-item .cara {
    font-size: 36px;
}

.carta-item .espalda {
    font-size: 28px;
    color: #666;
    background-color: aqua;
    transform: rotateY(180deg);
}

.carta-item.volteada {
    transform: rotateY(180deg);
}

.carta-item.emparejada {
    opacity: 0.6;
    background: #e6ffe6;

}

.victoria {
    color: green;
    font-weight: 700;

}
