<div class="pares-game">
    <div class="game-header">
        <div>intentos: {{ intentos }}</div>
        <div *ngIf="juegoTerminado" class="victoria">realizaste {{ intentos }} intentos</div>
        <button (click)="reset()" class="btn btn-secondary">intentar de nuevo</button>
    </div>

    <div class="grid">
        <div *ngFor="let carta of cartasJuego; let i = index" class="carta-item" [class.volteada]="carta.estado || carta.emparejada" [class.emparejada]="carta.emparejada" (click)="clickCarta(carta)">
            <div class="cara" *ngIf="carta.estado || carta.emparejada">{{ carta.imagen }}</div>
            <div class="espalda" *ngIf="!carta.estado && !carta.emparejada">👾</div>
        </div>
    </div>
</div>